@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Comfortaa', cursive;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

/* header {
    background-color: #F0F0F0;
    height: 15vh;
    display: flex;
    align-items: center;
} */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#tutorials {
    color: white;
    background-color: #db504a;
}
#homework {
    background-color: #e4dfda;
}
#lecture {
    color: white;
    background-color: #48a9a6;
}
#inspiration {
    background-color: #4357ad;
    color: #fff;
}

#inspiration a, 
#inspiration a:link,
#inspiration a:hover, 
#inspiration a:visited,
#lecture a, 
#lecture a:link,
#lecture a:hover, 
#lecture a:visited,
#tutorials a, 
#tutorials a:link,
#tutorials a:hover, 
#tutorials a:visited
{
    color: white;
}

section {
    /* border: solid 1px #000; */
    min-height: 100vh;
}

/* @media screen and (max-width: 1000px){
    main {
        grid-template-columns: 1fr 1fr;
    }
    section {
        height: auto;
        min-height: 40vh;
    }
} */

.fa-solid {
    font-size: 40px;
}

@media screen and (max-width: 1000px){
    main {
        grid-template-columns: 1fr;
    }
    section {
        height: auto;
        min-height: 40vh;
    }
}